<div class="account">
  <div class="account-dashboard">
    <button hx-get="/summary" hx-trigger="load, click" hx-target="#account-content" hx-swap="innterHTML">
      Summary
    </button>
    <button
      hx-get="/deposits"
      hx-target="#account-content"
      hx-swap="innterHTML"
    >
      Deposits
    </button>
    <button
      hx-get="/withdrawals"
      hx-target="#account-content"
      hx-swap="innterHTML"
    >
      Withdrawals
    </button>
    <button hx-get="/graphs" hx-target="#account-content" hx-swap="innterHTML">
      Graphs
    </button>
    <button hx-get="/budget" hx-target="#account-content" hx-swap="innterHTML">
      Budget
    </button>
  </div>

  <div id="account-content" class="account-content"></div>
</div>
