<div class="summary">
  <div class="summary-header"></div>
  <div class="summary-content">
    <div class="summary-info">
      <h3>Info</h3>
      <span>Month: </span>
      <span>Year: </span>
      <span>Name: John Moneyman</span>
      <span>Address: 123 Street Road Moneytown, NC 27705</span>
    </div>
    <div class="summary-balance">
      <h3>Balance</h3>
      <span>Beginning: {{ .Beginning }}</span>
      <span>Ending: {{ .Ending }}</span>
    </div>
    <div class="summary-withdrawals">
      <h3>Withdrawals</h3>
      <span>Debit: {{ .Debit }}</span>
      <span>Electronics: {{ .Electronic }}</span>
      <span>Checks: {{ .Checks }}</span>
      <span>Fees: {{ .Fees }}</span>
    </div>
  </div>
</div>

<script>
  // summaryData = JSON.parse(`{{ . }}`);
  // console.log(summaryData);
</script>
