html {
  font-size: 100%;
  font-family: monospace;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
  border: 4px solid black;
  height: 6rem;
  text-align: center;
  font-size: 2rem;
  display: grid;
  /* grid-template-columns: 10rem 10rem 10rem; */
  grid-template-columns: 10% 80% 10%;
}

.nav-header {
  border: 2px solid black;
  grid-column: 1;
}

.nav-menu {
  border: 2px solid black;
  grid-column: 2;
  text-align: center;
}

.nav-menu button {
  border: 2px solid black;
  background-color: aliceblue;
  margin:auto;
  font-size: 2rem;

  place-self: center; 
}

.nav-social {
  border: 2px solid black;
  grid-column: 3;
}

#app {
  border: 4px solid black;
  /* height: 40rem; */
  width: 60rem;
  margin: auto;
}

.tmpl {
  border: 2px solid black;
  margin: 1rem;
}

.tmpl-header {
  border: 2px solid black;
}

.tmpl-content {
  border: 2px solid black;
  width: 100%;
  /* height: 30rem; */
}
