:root {
  --active-color: green;
  --button-background: white;
  --app-background-color: white;
}

html {
  font-size: 100%;
  font-family: monospace;
}

body {
  /* height: 100vh; */
  margin: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  font-family: monospace;
}

button:hover {
  background-color: green;
  cursor: pointer;
}

nav {
  border: 4px solid black;
  height: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 4fr 10fr 4fr;
  align-items: center;
}

.nav-header {
  grid-column: 1;
}

.nav-menu {
  grid-column: 2;
  text-align: center;
}

.nav-menu button {
  margin: auto;
  font-size: 2rem;
}

.nav-social {
  border: 2px solid black;
  grid-column: 3;
}

#app {
  border: 4px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.app-header {
  border: 2px solid black;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.app-header button {
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.app-content {
  border: 2px solid black;
  height: 60rem;
}

/* 
.tmpl {
  border: 2px solid black;
  margin: 1rem;
}

.tmpl-header {
  border: 2px solid black;
}

.tmpl-content {
  border: 2px solid black;
  width: 100%;
} */
