{{define "app-header"}}
<div class="app-header">
  <button
    hx-get="/overview/{{ . }}"
    hx-target="#app-content"
    hx-swap="innerHTML"
  >
    Overview
  </button>
  <button
    hx-get="/account/{{ . }}"
    hx-target="#app-content"
    hx-swap="innerHTML"
  >
    Account
  </button>
  <button hx-get="/graphs/{{ . }}" hx-target="#app-content" hx-swap="innerHTML">
    Graphs
  </button>
  <button
    hx-get="/settings/{{ . }}"
    hx-target="#app-content"
    hx-swap="innerHTML"
  >
    Settings
  </button>
</div>
{{end}}
