<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Bank Manager</title>

  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <link rel="stylesheet" type="text/css" href="public/styles.css" />
  <script src="public/script.js"></script>
</head>

<body>
  <nav>
    <div class="nav-header">Bank Manager</div>
    <div class="nav-menu">
      <button hx-get="/account" hx-target="#app" hx-swap="innerHTML">
        Account
      </button>
      <button hx-get="/settings" hx-target="#app" hx-swap="innerHTML">
        Settings
      </button>
    </div>
  </nav>

  <div id="app">
  </div>
</body>

</html>