<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Bank Manager</title>

        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js"></script> -->

        <link rel="stylesheet" type="text/css" href="public/styles.css" />
        <script src="public/graphs.js"></script>
    </head>

    <body>
        <header>
            <div class="primary-header">
                <div class="container">
                    <nav id="navbar" class="navbar">
                        <div class="nav-home">
                            <a href="/">Bank Manager</a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div id="app" class="app">
                    <div class="app-dashboard">
                        <button hx-get="/summary" hx-target="#app-content" hx-swap="innterHTML">Summary</button>
                        <!-- <button hx-get="/deposits" hx-target="#app-content" hx-swap="innterHTML">Deposits</button> -->
                        <!-- <button hx-get="/withdrawals" hx-target="#app-content" hx-swap="innterHTML">Withdrawals</button> -->
                    </div>
                    <div id="app-content" class="app-content"></div>
                </div>
            </div>
        </main>

        <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js "></script>
    </body>
</html>
