
<!-- {{ $deposits := .Deposits }} -->

<div id="overview" class="tmpl">
  <div class="tmpl-header">
    <h2>Bank Overview</h2>
  </div>
  <div class="tmpl-content">
    <div class="summary">
      <div class="balance">
        <span>Balance</span>
        <span>Starting: {{.CheckingSummary.Balance.Starting}}</span>
        <span>Ending: {{.CheckingSummary.Balance.Ending}}</span>
      </div>
    </div>

    <div>
      <canvas id="summaryChart"></canvas>
      <canvas id="depositsChart"></canvas>
    </div>

  </div>
</div>



<script>

  // get data
  const balanceStarting = "{{.CheckingSummary.Balance.Starting}}";
  const balanceEnding = "{{.CheckingSummary.Balance.Ending}}";
  const withdrawalsDebit = "{{.CheckingSummary.Withdrawals.Debit}}";
  const withdrawlsElectronic =
    "{{.CheckingSummary.Withdrawals.Electronic}}";

  const summaryData = [
    cleanFloat(balanceStarting),
    cleanFloat(balanceEnding),
    cleanFloat(withdrawalsDebit),
    cleanFloat(withdrawlsElectronic),
  ];

  var deposits = {{.Deposits | json}};

  const depositsData = [];
  const depositsLabels = [];

  console.log(deposits)
  
  // make graphs
  const summaryCtx = document.getElementById("summaryChart").getContext("2d");
  const depositsCtx = document.getElementById("depositsChart").getContext("2d");

  const sumGraphData = {
    labels: ["Starting", "Ending", "Debit", "Electronic"],
    datasets: [
      {
        label: "Overview",
        data: summaryData,
        backgroundColor: "rgb(20, 200, 100)",
        borderColor: "rgb(200, 200, 200)",
        borderWidth: 1,
      },
    ],
  };

  const summaryChart = new Chart(summaryCtx, {
    type: "bar",
    data: sumGraphData,
    options: {},
  });


  // utils
  function cleanFloat(string) {
    parseFloat(string.replace("$", ""));
    parseFloat(string.replace(",", ""));
    return string
  }
</script>
