{{define "date-select"}}
<div class="date-selector">
    <form
        id="date-selector"
        hx-post="{{.Endpoint}}"
        hx-target="{{.Target}}"
        hx-swap="innerHTML"
        hx-trigger="change, change from:[form='date-selector']"
    >
        <label for="account-year">Year</label>
        <select id="account-year" name="account-year" hx-trigger="change">
            <option value="2018">2018</option>
        </select>

        <label for="account-month">Month</label>
        <select id="account-month" name="account-month">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </form>
</div>
{{end}}