{{ define "summary-table"}}
<div class="summary-table">
    <h3>Info</h3>
    <div class="table-row">
        <div class="summary-date">
            <span>Month: </span>
            <span>Year: </span>
        </div>
        <div class="summary-name">
            <span>Name: John Moneyman</span>
            <span>Address: 123 Street Road Moneytown, NC 27705</span>
        </div>
    </div>
    <div class="table-row">
        <h3>Balance</h3>
        <!-- <div> -->
        <span>Beginning: {{ .Beginning }}</span>
        <span>Ending: {{ .Ending }}</span>
        <!-- </div> -->
    </div>
    <div class="table-row">
        <h3>Deposits</h3>
        <!-- <div> -->
        <span>Deposits: {{ .Deposits }}</span>
        <!-- </div> -->
    </div>
    <div class="table-row">
        <h3>Withdrawals</h3>
        <!-- <div> -->
        <span>Debit: {{ .Debit }}</span>
        <span>Electronics: {{ .Electronic }}</span>
        <span>Checks: {{ .Checks }}</span>
        <span>Fees: {{ .Fees }}</span>
        <!-- </div> -->
    </div>
</div>
{{ end }}